<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gerenciador</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/Content/css/input-file.css" rel="stylesheet">
    <link href="/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/Content/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="/Content/css/dashboard.css" rel="stylesheet">
    <link href="/Content/css/check.css" rel="stylesheet">
    <link href="/Content/css/iziToast.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="/Scripts/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/Scripts/js/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]>
    <script src="/Scripts/js/html5shiv.min.js"></script>
    <script src="/Scripts/js/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/ico/favicon-16x16.png">
    <link rel="manifest" href="/Content/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        .div-login-margin {
            margin-top:10px;
        }

        body {
            background: #eee !important;
        }

        .wrapper {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .form-signin {
            max-width: 380px;
            padding: 15px 35px 45px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 30px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                font-size: 16px;
                height: auto;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin-email {
                margin-bottom: -1px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

        .form-signin-password-middle {
            margin-bottom: -1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

            .form-signin-password {
                margin-bottom: 20px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

           
    </style>
</head>
<body>
    @RenderBody()
    <script src="/Scripts/js/jquery.min.js"></script>
    <script src="/Scripts/js/bootstrap.min.js"></script>
    <script src="/Scripts/js/validator.js"></script>
    <script src="/Scripts/js/holder.min.js"></script>
    <script src="/Scripts/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/Scripts/js/input-text.js"></script>
    <script src="/Scripts/js/jquery.mask.min.js"></script>
    <script src="/Scripts/js/jquery.mask.fs.js"></script>
    <script src="/Scripts/js/iziToast.js"></script>
    <script src="/Scripts/js/moment-with-locales.min.js"></script>
    <script src="/Scripts/js/bootstrap-datetimepicker.js"></script>
    <script src="/Scripts/js/Chart.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>